@media screen and (max-width: 800px) {
  .modalContainer {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .burgerContainer, .slideIn {
    display: none;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Burgerline */
.burgerline {
  display: block;
  position: relative;
  top: 0%;
  width: 30px;
  background: #10b981;
  margin: auto;
  height: 2px;
  transition: 1s ease;
  opacity: 1;
}

.burgerline::before {
  content: '';
  display: block;
  position: relative;
  width: 30px;
  height: 2px;
  margin: auto;
  background: #10b981;
  top: 10px;
  left: 0px;
  transition: 0.5s ease;
}

.burgerline::after {
  content: '';
  display: block;
  position: relative;
  width: 30px;
  height: 2px;
  margin: auto;
  background: #10b981;
  top: -12px;
  left: 0px;
  transition: 0.5s ease;
}

.burgerline.open {
  transform: rotate(180deg);
  background: transparent;
}

.burgerline.open::before {
  transform: translateY(-10px) rotate(45deg);
  background: #ef4444;
}

.burgerline.open::after {
  transform: translateY(10px) rotate(-45deg);
  background: #ef4444;
}

.myHeadLiterally:hover,
.sectionTwoLeftOneIcon:hover {
  transition: all 0.6s;
  animation: spinning 1s infinite;
}